.container {
  height: 100vh;
  background: url(/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.contentTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 55px;
  font-size: 40px;
}

.parentContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

.content {

}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.freeContent {
  margin-top: 15px;
}
