.header {
  background: url(/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.background {
  width: 80%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.glass {
  width: 60%;
  height: 100vh;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.71) 
    rgba(0, 0, 0, 0.71) 
    rgba(0, 0, 0, 0.71)
}
