.header {
  background: url(/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 80%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  zi
}