.header {
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 80%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  margin-left: 80px;
  width: 60%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  box-shadow: -73px 0 40px 0 rgb(0, 0, 0);
  backdrop-filter: blur(86px);
  -webkit-backdrop-filter: blur(86px);
}

.content h1 {
  z-index: 9999;
  color: #fff;
}
