.button {
  position: relative;
  border: 1px solid #fff;
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    background-color: #1400FF;
    position: absolute;
    top: 0;
    left: 0;
}
